body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "hd hd"
  "s a"
  "f f";
  grid-gap:15px;
}

@media screen and (max-width: 600px) {

  /* OBS kan stå annat här */
  body {
    grid-template-columns: 1fr;
    grid-gap:10px;
    grid-template-areas:
    "hd"
    "s"
    "a"
    "f"
  }
}
  p {
    color: #42847D;
  }

  body {
    background-color: #E9E9E9;
  }


  header {
    background-color: #B9D2B3;
    grid-area: hd ;
    text-align: center;
  }

  section {
    background-color: #B4B4B4;
    grid-area: s ;
  }

  aside {
    background-color: #B8CEE6;
    grid-area: a;
    text-align: center;
  }

  footer {
    background-color: grey ;
    grid-area: f ;
  }

  img#sea {
    width: 90% ;
    max-width: 1250px ;
  }

  img#html {
    width: 50% ;
    max-width: 400px;
  }
